---
import Layout from "@layouts/Layout.astro";
import { Button, Textbox } from "src/components";
---

<Layout title="Turn-Taking | Your daily routine">
  <h1 class="text-3xl p-2">Turn-Taking</h1>
  <Textbox client:visible />
  <Button text="Go!" />
</Layout>
